@use './_variables.scss' as V;
@use './mixins.scss' as M;

.hero-list {
  flex-wrap: wrap;
  overflow: auto;
  justify-content: space-between;
  align-content: start;
  padding: 2px;
  gap: V.$gap-small;

  @include M.media-query-max(V.$bp-mobile, ()) {
    gap: 0;
    padding: 1px;
  }
}

.hero-preview {
  overflow: auto;

  .hero.selected {}

  .base-stats {
    gap: 4px;

    .card {
      flex-grow: 1;
    }
  }

  .details {
    gap: 4px;

    .flex-col {
      gap: 4px;
      justify-content: start;
    }
  }

  .skills,
  .talents {
    flex-grow: 1;

    .text-card {
      justify-content: space-between;
      padding: 5px;
      border-radius: V.$border-radius;
      background: V.$secondary-gradient;
      outline: 1px solid rgba(26, 26, 26, 0.5);
      transform: translate(0, 0);
      transition: V.$transition-card;
    }
  }

  .equipment {
    flex-wrap: wrap;
  }

  .flex-col.hero {
    width: max-content;
  }

  .flex-row.text.card {
    background: V.$secondary-gradient;
    align-items: center;
    height: 36px;
    font-size: 20px;
    justify-content: left;

    @include M.media-query-max(V.$bp-mobile, ()) {
      font-size: 14px;
    }
  }
}

.hero {
  cursor: pointer;

  .flex-col {
    gap: 0;
  }

  .hero-element {
    width: V.$icon-width;
    height: V.$icon-height;
    border: 2px solid rgb(0, 0, 0);
    border-radius: V.$border-radius-small;
    border-top-left-radius: V.$border-radius;
    border-bottom-right-radius: V.$border-radius;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
    line-height: 19px;

    >img {
      width: 100%;
      height: 100%;
      scale: 1.2;
    }
  }

  .hero-sprite {
    width: V.$hero-sprite-width;
    height: 100%;
    outline: 2px solid black;
    border-radius: 4px;
    image-rendering: optimizeQuality;

    @include M.media-query-max(V.$bp-mobile, ()) {
      width: 60px;
    }
  }

  .text {
    color: black;
    font-family: V.$font-family-header;
    font-size: V.$font-size-button;
    border-radius: V.$border-radius;
    background-color: #fff;
    text-align: center;
    margin-inline: auto;
    width: 100%;
    outline: 2px solid black;
  }

  &[data-element="0"] .hero-element {
    background: hsl(0deg, 50%, 40%);
  }

  &[data-element="1"] .hero-element {
    background: hsl(230deg, 50%, 40%);
  }

  &[data-element="2"] .hero-element {
    background: hsl(120deg, 50%, 40%);
  }

  &[data-element="3"] .hero-element {
    background: hsl(45deg, 50%, 40%);
  }

  &[data-element="4"] .hero-element {
    background: hsl(255deg, 50%, 40%);
  }

  &[data-rarity="4"] {
    background: linear-gradient(160deg, hsl(40, 50%, 50%) 0%, hsl(40, 50%, 30%) 100%);
  }

  &[data-rarity="3"] {
    background: linear-gradient(160deg, hsl(265, 50%, 50%) 0%, hsl(265, 50%, 30%) 100%);
  }

  &[data-rarity="2"] {
    background: linear-gradient(160deg, hsl(225, 50%, 50%) 0%, hsl(225, 50%, 30%) 100%);
  }

  &[data-rarity="1"] {
    background: linear-gradient(160deg, hsl(109, 46%, 50%) 0%, hsl(109, 46%, 30%) 100%);
  }
}