@use './_variables.scss' as V;
@use './mixins.scss' as M;

.nav-bar {
  justify-content: space-between;
  align-items: center;
  padding: V.$gap V.$gap;
  min-height: 66px;
  z-index: 10;

  .header-big {
    font-size: 2vw;
  }

  * {
    display: flex;
    align-items: center;
    gap: V.$gap;
    flex-grow: 1;
    justify-content: space-around;
    white-space: nowrap;
    line-height: 0;
  }

  img {
    flex-grow: 0;
  }

  button {
    font-size: V.$font-size-nav;
    flex-grow: 1;
    padding: V.$padding-button;
  }

  @include M.media-query-max(V.$bp-mobile, ()) {
    order: 3;
    min-height: V.$mobile-button-height;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: auto;

    * {
      gap: 0;
    }

    button {
      word-wrap: nowrap;
      height: V.$mobile-button-height;
      font-size: V.$mobile-button-text;
    }
  }
}

.nav-left {
  justify-content: center;
}

.nav-right {
  justify-content: center;
}

.nav-bar-header {
  display: block;

  @include M.media-query-max(V.$bp-mobile, ()) {
    display: none;
  }
}